# next-auth (Auth.js)
AUTH_SECRET=cambia-esto-por-un-secreto-largo-aleatorio
AUTH_TRUST_HOST=true
AUTH_URL=http://admin.localhost

# Cliente OIDC de Keycloak
AUTH_KEYCLOAK_ID=optimus-admin
AUTH_KEYCLOAK_SECRET=optimus-admin-secret
AUTH_KEYCLOAK_ISSUER=http://auth.localhost/realms/optimus

# API de Catálogo (red interna Docker) usada por las server actions
CATALOG_API_INTERNAL=http://catalog-api:3001/api
